@model Evncpc.Models.UserModel
@section css {
    <link href="@Url.Content("~/Content/register.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layout-masterpage.css")" rel="stylesheet" />
}

<body>
    <div class="wrapper" style="background-image: url('~/Images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="~/Images/registration-form-1.jpg" alt="">
            </div>
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3>Registration Form</h3>        
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "FirstName", @class = "form-control" } })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "FirstName", @class = "form-control" } })
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "UserName", @class = "form-control" } })
                    <i class="zmdi zmdi-account"></i>
                </div>
                
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.Password , new { htmlAttributes = new { placeholder = "Password", @class="form-control"} })
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "ConfirmPassword", @class = "form-control" } })
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>
                    <i class="zmdi zmdi-arrow-right"><input type="submit" value="register" /></i>
                </button>
            }
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
