
@section css {
    <link href="@Url.Content("~/Content/registermain.css")" rel="stylesheet" />
}

@model Evncpc.Models.UserModel
@{
    ViewBag.title = "Register";
}

<body>
    <div class="register">
        <div class="wrapper">
            <div class="inner">
                <div class="image-holder">
                    <img src="~/Images/registration-form-1.jpg" alt="">
                </div>
                <div class="user">
                    @using (Html.BeginForm("Register", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Registration Form</h3>
                        <div class="form-group">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "FirstName", @class = "form-control" } })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "LastName", @class = "form-control" } })
                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "UserName", @class = "form-control" } })

                        </div>

                        <div class="userinput">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })

                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })

                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "ConfirmPassword", @class = "form-control" } })

                        </div>
                        <input type="submit" class="create fa-arrow-alt-circle-right center-block btn-lg btn-danger" value="submit" />
                    }
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
