@model Evncpc.Models.UserModel

@{
    ViewBag.title = "Register";
}
@section css {
    <link href="@Url.Content("~/Content/registermain.css")" rel="stylesheet" />
}
<body>
    <div class="register">
        <div class="wrapper">
            <div class="inner">
                <div class="image-holder">
                    <div class="error-message">
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info">
                                @ViewBag.Message
                            </div>

                        }
                    </div>
                    <img src="~/Images/account-bg.png" alt="">
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text text-danger" })

                <div class="user">
                    @using (Html.BeginForm("Register", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="textlogo">
                            <span class="text-introduce">Tập Đoàn Điện Lực Miền Trung</span>
                        </div>
                        <h1>Đăng kí</h1>
                        <span class="text-continue">để tiếp tục</span>
                        <div class="warning-message">
                            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "control-message" })
                            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "control-message" })
                        </div>
                        <div class="form-group-register">
                            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { placeholder = "First Name", @class = "form-control" } })
                            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { placeholder = "Last Name", @class = "form-control" } })
                        </div>

                        <div class="warning-message">
                            @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "control-message" })
                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { placeholder = "Username", @class = "form-control" } })

                        </div>
                        <div class="warning-message">
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "control-message" })
                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })

                        </div>
                        <div class="warning-message">
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "control-message" })
                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })

                        </div>
                        <div class="warning-message">
                            @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "control-message" })
                        </div>
                        <div class="userinput">
                            @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { placeholder = "Confirm", @class = "form-control" } })

                        </div>
                        <input type="submit" class="create fa-arrow-alt-circle-right center-block btn-lg " value="Create" />

                    }
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
